<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>TestController</servlet-name>
  	<display-name>TestController</display-name>
  	<description></description>
  	<servlet-class>com.code.ABC_Lab.controller.TestController</servlet-class>
  </servlet>
 
  <servlet>
  	<servlet-name>PatientController</servlet-name>
  	<display-name>PatientController</display-name>
  	<description></description>
  	<servlet-class>com.code.ABC_Lab.controller.PatientController</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>ReservationController</servlet-name>
  	<display-name>ReservationController</display-name>
  	<description></description>
  	<servlet-class>com.code.ABC_Lab.controller.ReservationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResultController</servlet-name>
  	<display-name>ResultController</display-name>
  	<description></description>
  	<servlet-class>com.code.ABC_Lab.controller.ResultController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.code.ABC_Lab.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServletPatient</servlet-name>
  	<display-name>LoginServletPatient</display-name>
  	<description></description>
  	<servlet-class>com.code.ABC_Lab.controller.LoginServletPatient</servlet-class>
  </servlet>
 
  
 
  <servlet-mapping>
  	<servlet-name>TestController</servlet-name>
  	<url-pattern>/testmanager</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>TestController</servlet-name>
  	<url-pattern>/gettest</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>PatientController</servlet-name>
  	<url-pattern>/patientmanager</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>ReservationController</servlet-name>
  	<url-pattern>/Reserve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResultController</servlet-name>
  	<url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Logintech</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServletPatient</servlet-name>
  	<url-pattern>/Loginpatient</url-pattern>
  </servlet-mapping>
  
 
 
</web-app>
